<nav class="navbar">
  <h2 class="logo"><a href="/">Pokemon Inventory</a></h2>
  <ul>
    <li>
      <a href="/"><span> Home </span></a>
    </li>
    <li>
      <a href="/types"><span> Types </span></a>
    </li>
    <li>
      <a href="/pokemons"><span> Pokemons </span></a>
    </li>
  </ul>
</nav>
