<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Pokemon Inventory</h1>
    <a href="/types">
      <div class="home-box">
        <h4>Types</h4>
        <p><%=tot_types%></p>
      </div>
    </a>
    <a href="/pokemons">
      <div class="home-box">
        <h4>Pokemons</h4>
        <p><%=tot_pokes%></p>
      </div>
    </a>
  </body>
</html>
