<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="hero">
      <div class="hero-text">
        <div class="hero-heading">
          <h1>Your Pokedex Inventory <span>Managed.</span></h1>
        </div>
        <div class="hero-para">
          <p>Keep and manage all your pokemons in one place.</p>
        </div>
      </div>
      <img class="hero-img" src="/hero.png" alt="hero">
    </div>
    <div class="stats">
      <%stats.forEach(stat => {%>
        <div class="stats-box">
          <h2><%= stat.value %></h2>
          <p><%= stat.title %></p>
        </div>
      <%})%>
    </div>
    <%- include('partials/typesCardGrid', {types: types, max: 4, addNew: false}) %>
  </body>
  </html>
  