<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> Pokemons</title>
  </head>
  <body>
    <h1><%= title %> pokemons</h1>

    <% if(pokemons.length === 0) { %>
        <p>No Pokemons Found!</p>
    <%} else {%>
        <ul>
            <% pokemons.forEach(pokemon => { %>
            <li><%= pokemon.name %></li>
            <% }) %>
        </ul>
    <%}%>
  </body>
</html>
